.FileApp {
  /* font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; */
}

.FileApp h1,
.FileApp h2,
.FileApp h3,
.FileApp h4,
.FileApp h5,
.FileApp h6,
.FileApp p {
  margin: 0;
  padding: 0;
}

.FileApp h1 {
  font-size: 20pt;
  font-weight: 700;
  margin: 20px 0 40px 0;
  padding: 0;
}

.FileApp h2 {
  color: black;
  font-size: 16pt;
  font-weight: 600;
  margin: 32px 0;
  padding: 0;
}

.FileApp h3 {
  color: black;
  font-size: 14pt;
  font-weight: 600;
  margin: 28px 0;
  padding: 0;
}

.FileApp h4 {
  color: #222;
  font-size: 12pt;
  font-weight: 600;
  margin: 24px 0;
  padding: 0;
}

.FileApp p {
  color: #666;
  font-size: 12pt;
  font-weight: regular;
  line-height: 20pt;
  margin: 16px 0;
  padding: 0;
}

.FileApp b {
  color: black;
  font-weight: 700;
}

.FileApp .highlight {
  padding: 2px;
}

.FileApp .highlight.highlight-yellow {
  background-color: #ffff99;
}

.FileApp {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.FileApp-sidePane {
  background-color: #2a3644;
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 300px;
  min-width: 300px;
  width: 300px;
  z-index: 1;
}

.FileApp-sidePane-toolbar {
  display: flex;
  border-bottom: solid #3b4c5f 1px;
  height: 40px;
  min-height: 40px;
}

.FileApp-sidePane-content {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.FileApp-mainPane {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.FileApp-mainPane-toolbar {
  box-sizing: border-box;
  display: flex;
  border-bottom: solid #efefef 1px;
  box-sizing: border-box;
  min-height: 40px;
  height: 40px;
}

.FileApp-mainPane-content {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  overflow: auto;
}
