.FileTreeItem-root {
  display: flex;
  height: 44px;
  max-height: 44px;
  min-height: 44px;
}

.FileTreeItem-content {
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin: 2px 4px;
  min-width: 0; /* This property will ensure that child text truncates */
  padding: 0 16px;
  transition: background-color 0.1s;
}

.FileTreeItem-content:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.FileTreeItem-name {
  color: white;
  font-size: 12pt;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
